extends layout

block content
  // START YOUR CONTENT HERE
  .page-header.no-padding-bottom
    h4
      | Form List
      small                    
  .well.white
    table#SampleDT.datatable.table.table-hover.table-striped.table-bordered.tc-table
      thead
        tr
          th(data-hide='phone,tablet') Account
          th(data-class='expand') Full name
          th(data-hide='phone,tablet') Gender
          th(data-hide='phone,tablet') DOB
          th(data-hide='phone,tablet') Phonenumber
          th Address
      tbody
      if(customers == null || customers.length == 0)
        | Khong co du lieu
      else
        each customer, index in customers
          tr
            td 
              a(href='/profile/#{customer.ACCOUNTNUMBER}') #{customer.ACCOUNTNUMBER}                      
            td #{customer.FULLNAME}
            td 
              if(customer.GENDER == 1)
                | Male
              else
                | Female
            td #{customer.DOB}
            td
              if(customer.PHONENUMBER != null && customer.PHONENUMBER != '')
                | #{customer.PHONENUMBER}
              else
                | N/A
            td #{customer.ADDRESS}
  // End jQuery Datatable
  // END YOUR CONTENT HERE
block append script
  //App script  
  // PAGE LEVEL PLUGINS JS  
  script(src='assets/js/plugins/datatables/jquery.dataTables.min.js')
  script(src='assets/js/plugins/datatables/datatables.js')
  script(src='assets/js/plugins/datatables/datatables.responsive.js')  
  script(src='/assets/js/plugins/datatables/datatables.init.js')  