extends layout

block content
  - var imageURL, fbLink;
    if(customer != null && customer.ImageUrl != null && customer.ImageUrl != '')
      -imageURL = customer.ImageUrl;
    else
      -imageURL = '/assets/images/user-2.jpg';

    if(customer != null && customer.FBLINK != null && customer.FBLINK != '')
      -fbLink = customer.FBLINK;
    else
      -fbLink = '#';  

  // START YOUR CONTENT HERE
  .row
    .col-lg-3.col-md-3
      .well.well-sm.white
        .profile-pic
          a(href='#')
            img.img-responsive(src='#{imageURL}', alt='')
        p.text-center
          a.btn.btn-facebook.btn-xs(href='#{fbLink}', target='_blank', data-placement='top', data-rel='tooltip', title='Visit My Facebook', role='button')
            i.fa.fa-facebook.icon-only
          button.btn.btn-twitter.btn-xs(type='button', data-placement='top', data-rel='tooltip', title='Visit My Twitter', role='button')
            i.fa.fa-twitter.icon-only
          button.btn.btn-googleplus.btn-xs(type='button', role='button', data-placement='top', data-rel='tooltip', title='Google +')
            i.fa.fa-google-plus.icon-only
      .alert.bg-primary
        button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
        p
          | Young, talent, IT Business, Monthly Spending: 9M VND
    .col-lg-9.col-md-9
      .tc-tabs
        // Nav tabs style 1
        ul.nav.nav-tabs.tab-lg-button.tab-color-dark.background-dark.white
          li.active
            a(href='#p1', data-toggle='tab')
              i.fa.fa-desktop.bigger-130
              | Overview
        // Tab panes
        .tab-content
          #p1.tab-pane.fade.in.active
            if(customer == null)
              | Khong co du lieu
            else
              .row
                .col-lg-8.col-md-8.col-sm-6.col-xs-12
                  .portlet.no-border
                    .portlet-heading
                      .portlet-title
                        h2 #{customer.FULLNAME}
                      .clearfix
                    .portlet-body
                      dl.no-margin-bottom
                        dt Fullname
                        dd #{customer.FULLNAME}
                        dt Birthday
                        dd #{customer.DOB}
                        dt Gender
                        dd 
                          if(customer.GENDER == 1)
                            | Male
                          else
                            | Female
                        dt Phonenumber
                        dd 
                          if(customer.PHONENUMBER != null && customer.PHONENUMBER != '')
                            | #{customer.PHONENUMBER}
                          else
                            | N/A
                        dt Address
                        dd
                          | #{customer.ADDRESS}
                .col-lg-4.col-md-4.col-sm-6.col-xs-12
                  .portlet.no-border
                    .portlet-heading.dark
                      .portlet-title
                        h4 Interaction Channels
                      .portlet-widgets
                        i.fa.fa-sort-alpha-desc.bigger-110
                      .clearfix
                    .portlet-body.skills.light
                      .progress(data-percent='75%')
                        .progress-bar.progress-bar-success(role='progressbar', style='width: 75%')
                          span.sr-only 75% Complete
                        span.progress-type ATM
                        span.progress-completed 75%
                      .progress(data-percent='40%')
                        .progress-bar.progress-bar-warning(role='progressbar', style='width: 40%')
                          span.sr-only 40% Complete
                        span.progress-type Branches
                        span.progress-completed 40%
                      .progress(data-percent='26%')
                        .progress-bar.progress-bar-danger(role='progressbar', style='width: 26%')
                          span.sr-only 26% Complete
                        span.progress-type e-Bank
                        span.progress-completed 26%
                      .progress(data-percent='80%')
                        .progress-bar(role='progressbar', style='width: 80%')
                          span.sr-only 80% Complete
                        span.progress-type Contact Center
                        span.progress-completed 80%
            .row
              .col-md-12
                .portlet
                  // /Portlet
                  .portlet-heading.dark
                    .portlet-title
                      h4
                        | Recent Activities
                    .portlet-widgets
                      a(data-toggle='collapse', data-parent='#accordion', href='#basic')
                        i.fa.fa-chevron-down
                      span.divider
                      a.box-close(href='#')
                        i.fa.fa-times
                    .clearfix
                  #basic.panel-collapse.collapse.in
                    .portlet-body.no-padding
                      if(customerLogs == null || customerLogs.length == 0)
                        | Khong co du lieu
                      else                                
                        table.table.table-bordered.table-hover.tc-table
                          thead
                            tr
                              th.hidden-xs Time
                              th.hidden-xs Activity
                              th.hidden-xs Detail
                            tbody
                              each customerLog, index in customerLogs
                                - var transName = customerLog.trx_name == null ? '' : customerLog.trx_name;
                                - var channelName = customerLog.ch_name == null ? '' : customerLog.ch_name+", ";
                                - var channelAdd = customerLog.ch_add == null ? '' : customerLog.ch_add;
                                - var activity = '[' + customerLog.trx_id + '] ' + transName + ' (' + customerLog.amount + ' VND)';
                                //var test = jQuery.timeago(new Date(customerLog.timestamp));
                                - var detail= channelName + channelAdd;
                                tr
                                  td.hidden-xs 
                                    abbr.timeago(title='#{new Date(customerLog.timestamp).toISOString()}')
                                  td.hidden-xs #{activity}
                                  td.hidden-xs #{detail}
                // /Portlet
      // nav-tabs style 1
  // END YOUR CONTENT HERE
  block append script
    //App script
    script(src='/assets/js/app/jquery.timeago.js') //Time ago
    script.
      $(document).ready(function() {
        jQuery("abbr.timeago").timeago();
      });